body {
    background-color: #1D1D1D;
    }
    
    h1 {
    text-align: center;
    color: #f6fcfb;
    font-family: Copperplate Gothic Light;
    }
    
    h2 {
    text-align: center;
    color: #8df4e2;
    font-family: Rockwell;
    }
    
    p {
    color: #f6fcfb;
    font-family: Avanta Garde;
    }
    
    h3 {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: #f6fcfb;
    color: #8df4e2;
    font-family: Rockwell;
    }
    
    li {
    color: #f6fcfb;
    }
    
    img {
    height: 300px;
    border-radius: 50%;
    }
    
    strong {
    color: #8df4e2;
    }
    
    a {
    color: aqua;
    }
    